// Name:            Form file
// Description:     Extends form component
//
// Component:       .f-form`
//
// Sub-objects:     .f-form-file`
//
// Markup:
//
// <!--.f-form-file -->
// <div class=.f-form-file">
//     <button class=.f-btn"></button>
//     <input type="file">
// </div>
//
// ========================================================================


/* ========================================================================
   Component: Form file
 ========================================================================== */

/*
 * 1. Behave like form elements
 * 2. Create position context for dropdowns
 * 3. Clip content
 */

.f-form-file {
	/* 1 */
	display: inline-block;
	vertical-align: middle;
	/* 2 */
	position: relative;
	/* 3 */
	overflow: hidden;

	.f-btn.f-form-file-right {
		position: absolute;
		right: 0;

		&+input {
			cursor: pointer;
		}
	}

	/*
	 * 1. Required for Firefox
	 * 2. Expand height and required for the cursor
	 */
	input[type="file"] {
		bottom: 0;
		position: absolute;
		top: 0;
		z-index: 1;
		width: 100%;
		opacity: 0;
		cursor: pointer;
		/* 1 */
		left: 0;
		/* 2 */
		font-size: 500px;
	}
}