// Name:            Pagination
// Description:     Defines styles for a navigation between pages
//
// Component:       .f-pagination`
//
// Sub-objects:     .f-pagination-previous`
//                  .f-pagination-next`
//
// Modifiers:       .f-pagination-left`
//                  .f-pagination-right`
//
// States:          .f-active`
//                  .f-disabled`
//
// Markup:
//
// <!--.f-pagination -->
// <ul class="f-pagination">
//     <li class="f-active"><span></span></li>
//     <li><a href=""></a></li>
// </ul>
// 
// Url:				http://fatkit.fmdev02.fatoffice.co.uk/core/pagination.asp
//
// ========================================================================


// Variables
// ========================================================================

$pagination-font-size:                          1rem;
$pagination-margin-left:                        5px;
$pagination-padding-vertical:                   3px;
$pagination-padding-horizontal:                 5px;
$pagination-line-height:                        20px;
$pagination-background:                         #eee;
$pagination-color:                              #444;
$pagination-hover-background:                   #f5f5f5;
$pagination-hover-color:                        #444;
$pagination-onclick-background:                 #ddd;
$pagination-onclick-color:                      #444;

$pagination-active-background:                  #00a8e6;
$pagination-active-color:                       #fff;

$pagination-disabled-background:                #f5f5f5;
$pagination-disabled-color:                     #999;


/* ========================================================================
   Component: Pagination
 ========================================================================== */

/*
 * 1. Remove default list style
 * 2. Center pagination by default
 * 3. Remove whitespace between child elements when using `inline-block`
 */

.f-pagination {
	/* 1 */
	padding: 0;
	list-style: none;
	/* 2 */
	text-align: center;
	/* 3 */
	font-size: 0.001px;

	/*
	 * Active
	 */
	> .f-active > span {
		background: $pagination-active-background;
		color: $pagination-active-color;
	}

	/*
	 * Disabled
	 */
	> .f-disabled > span {
		background-color: $pagination-disabled-background;
		color: $pagination-disabled-color;
	}
}

/*
 * Micro clearfix
 * Needed if .f-pagination-previous` or .f-pagination-next` sub-objects are used
 */

.f-pagination:before,
.f-pagination:after {
	content: "";
	display: table;
}

.f-pagination:after { clear: both; }


/* Items
 ========================================================================== */

/*
 * 1. Reset whitespace hack
 * 2. Remove the gap at the bottom of it container
 */

.f-pagination > li {
	display: inline-block;
	/* 1 */
	font-size: $pagination-font-size;
	/* 2 */
	vertical-align: top;

	&:nth-child(n+2) { margin-left: $pagination-margin-left; }

	/*
	 * Links
	 */
	> a {
		background: $pagination-background;
		color: $pagination-color;

		/* OnClick */
		&:active {
			background-color: $pagination-onclick-background;
			color: $pagination-onclick-color;
		}
	}
}

/*
 * 1. Makes pagination more robust against different box-sizing use
 * 2. Reset text-align to center if alignment modifier is used
 */

.f-pagination > li > a,
.f-pagination > li > span {
	display: inline-block;
	min-width: $pagination-line-height + (2 * $pagination-padding-vertical) - (2 * $pagination-padding-horizontal);
	padding: $pagination-padding-vertical $pagination-padding-horizontal;
	line-height: $pagination-line-height;
	text-decoration: none;
	/* 1 */
	box-sizing: content-box;
	/* 2 */
	text-align: center;
}

/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */

.f-pagination > li > a:hover,
.f-pagination > li > a:focus { // 1
	background-color: $pagination-hover-background;
	color: $pagination-hover-color;
	/* 2 */
	outline: none;
}


/* Previous and next navigation
 ========================================================================== */

.f-pagination-previous { float: left; }
.f-pagination-next { float: right; }


/* Alignment modifiers
 ========================================================================== */

.f-pagination-left { text-align: left; }
.f-pagination-right { text-align: right; }
