/**
  @footer
---------------------------------------------------------
  modules/_footer.scss
--------------------------------------------------------

------------------------------------------------------ */

footer {
	background-color: #252525;
	padding: $base-margin*3 0;

	p {
		color: #ddd;
	}
	
	a,
	.f-subnav > * > a {
	  color: #ddd;

	  &:hover {
			color: #fff;
		}
	}
}
