// Name:            Nestable
// Description:     Defines styles for nestable lists
//
// Component:       .f-nestable`
//
// Sub-objects:     .f-nestable-list`
//                  .f-nestable-item`
//                  .f-nestable-placeholder`
//                  .f-nestable-empty`
//                  .f-nestable-handle`
//                  .f-nestable-moving`
//                  `[data-nestable-action='toggle']`
//
// Modifier:        .f-nestable-list-dragged`
//
// States:          .f-parent`
//                  .f-collapsed`
//
// Markup:
//
// <!--.f-nestable -->
// <ul class=.f-nestable" data-f-nestable>
//     <li>
//         <div class=.f-nestable-item">
//             <div class=.f-nestable-handle"></div>
//             <div data-nestable-action="toggle"></div>
//             <span></span>
//         </div>
//     </li>
// </ul>
//
// ========================================================================


// Variables
// ========================================================================

$nestable-padding-left:                         40px;
$nestable-dragged-z-index:                      1050;

$nestable-item-margin-bottom:                   10px;
$nestable-item-padding:                         5px;
$nestable-item-background:                      #f5f5f5;

$nestable-placeholder-border:                   #ddd;

$nestable-empty-height:                         40px;

$nestable-handle-font-size:                     18px;
$nestable-handle-color:                         #ddd;
$nestable-handle-icon:                          "\f0c9";

$nestable-toggle-color:                         #999;
$nestable-toggle-hover-color:                   #444;
$nestable-toggle-icon:                          "\f147";
$nestable-toggle-collapsed-icon:                "\f196";


/* ========================================================================
   Component: Nestable
 ========================================================================== */

.f-nestable {
	padding: 0;
	list-style: none;
}


/* Sub-object .f-nestable-list`
 ========================================================================== */

.f-nestable-list {
	margin: 0;
	padding-left: $nestable-padding-left;
	list-style: none;
}


/* Sub-modifier .f-nestable-list-dragged`
 ========================================================================== */

.f-nestable-list-dragged {
	position: absolute;
	z-index: $nestable-dragged-z-index;
	padding-left: 0;
	pointer-events: none;
}


/* Sub-object .f-nestable-item`
 ========================================================================== */

.f-nestable-item {
	margin-bottom: $nestable-item-margin-bottom;
	padding: $nestable-item-padding;
	background: $nestable-item-background;
}


/* Sub-object .f-nestable-placeholder`
 * The placeholder which marks the drop area
 ========================================================================== */

.f-nestable-placeholder {
	box-sizing: border-box;
	margin-bottom: $nestable-item-margin-bottom;
	border: 1px dashed $nestable-placeholder-border;
}


/* Sub-object .f-nestable-empty`
 * The style of an empty list
 ========================================================================== */

.f-nestable-empty {
	min-height: $nestable-empty-height;
}


/* Sub-object .f-nestable-handle`
 ========================================================================== */

/*
 * 1. Deactivate browser touch actions in IE11
 */

.f-nestable-handle {
	display: inline-block;
	font-size: $nestable-handle-font-size;
	color: $nestable-handle-color;
	/* 1 */
	touch-action: none;
}

/* Hover */
.f-nestable-handle:hover { cursor: move; }

/* Icon */
.f-nestable-handle:after {
	content: $nestable-handle-icon;
	font-family: FontAwesome;
}


/* Sub-object .f-nestable-moving`
 ========================================================================== */

.f-nestable-moving,
/* Needed if moving over links or buttons */
.f-nestable-moving * { cursor: move; }


/* Sub-object `[data-action='toggle']`
 ========================================================================== */

/* Hidden by default */
[data-nestable-action='toggle'] {
	display: inline-block;
	color: $nestable-toggle-color;
	visibility: hidden;
}

/* Hover */
[data-nestable-action='toggle']:hover {
	color: $nestable-toggle-hover-color;
	cursor: pointer;
}

/* Icon */
[data-nestable-action='toggle']:after {
	content: $nestable-toggle-icon;
	font-family: FontAwesome;
}

/*
 * Show if nested
 */

.f-parent > .f-nestable-item [data-nestable-action='toggle'] { visibility: visible; }

/*
 * Collapsed
 */

.f-collapsed > .f-nestable-item [data-nestable-action='toggle']:after { content: $nestable-toggle-collapsed-icon; }

.f-collapsed .f-nestable-list { display: none; }