// Name:            Upload
// Description:     Provides a dragover state for uploads
//
// Component:       .f-upload`
//
// States:          .f-dragover`
//
// ========================================================================


// Variables
// ========================================================================

$f-upload-dragover-box-shadow:                 rgba(100,100,100,0.3);
$f-upload-dragover-box-shadow-blur:            20px;


/* ========================================================================
   Component: Upload
 ========================================================================== */

/*
 * Create a box-shadow when dragging a file over the upload area
 */

.f-dragover { box-shadow: 0 0 $f-upload-dragover-box-shadow-blur $f-upload-dragover-box-shadow; }